Pillow
PyTEA
base58
binwalk @ https://github.com/ReFirmLabs/binwalk/archive/refs/tags/v2.3.2.zip
blackboxprotobuf
brotli
capstone
lz4
lzjb @ https://github.com/unwind/python-lzjb/archive/refs/heads/master.zip
matplotlib
packaging
pefile
ppmd-cffi
pybase62
pycryptodomex
pyimpfuzzy-windows
pyppmd
python-magic-bin
python-snappy
qiling==1.2.3
seaborn
requests
unicorn==1.0.3
watchdog
xtea
yara-python
zstandard
